.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a{    
    color: hsl(228, 45%, 44%)
} 
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(220, 15%, 55%);
}

.block {
    max-width: 360px;
    padding:1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block img {
    max-width: 100%;
    border-radius:1.25rem;
    object-fit: cover;
    justify-content: center;
}

.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 1.25rem;
}
.text h1 {
    font-weight: 700;
    font-size: 1.375rem;
    color: hsl(218, 44%, 22%)
}
.text p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: hsl(212,  45%,  85%);
}
