.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a{    
    color: hsl(228, 45%, 44%)
} 

body {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
min-height: 100vh;
color: hsl(220, 15%, 55%);
}
.block {
    max-width: 320px;
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
.qr-code {
    width: 100%;
    max-width: 100%;
    border-radius:20px;
    object-fit: cover;
    justify-content: center;
}
.text {
font-family: 'Outfit', sans-serif;
text-align: center;
padding: 10px;
}
h1 {
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%)
}
p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(212,  45%,  85%);
}
