.attribution {
    font-size: 1.45rem;
    text-align: center;
}
.attribution a{    
    color: hsl(228, 45%, 44%);
    text-decoration: none;  
} 
a:hover {
    color: hsl(212,  45%,  85%);
    text-decoration: overline;
}
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(220, 15%, 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
    max-width: 360px;
    padding:1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
}

.block img {
    max-width: 100%;
    border-radius:1.25rem;
    object-fit: cover;
    justify-content: center;
}

.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
h1 {
    font-weight: 700;
    font-size: 1.375rem;
    color: hsl(218, 44%, 22%);
    padding-bottom: 1.25rem;
}
p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: hsl(212,  45%,  85%);
}
